<div class="eventgrid">
    <div>
        <div class="column">
            <div class="col s12 m7">
                <div class="card showCard">
                    <div class="card-image">
                        <img src="http://vannw.org/wp-content/uploads/2017/04/volunteer-thanks.jpg">
                    </div>
                    <div class="card-action">
                        <a href="/users">Click here to get started...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>