body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid {
 
  width: 100%;
  height: 100%;
  grid-row: 200px 200px;
  grid-column: 200px 200px;
  }
.bodyGridx {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 2fr;
  width: 100px;
  height: 1000px;
  grid-row: 200px 200px;
  grid-column: 200px 200px;
}



.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

.userPage {
	display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  border: 2px blue solid;
  grid-gap: 20px 20px;
  width: 100%;
  height: 100%;
  background-color: aqua;
}


.profilePage {
  display: grid;
  border: 2px blue solid;
  grid-template-columns: 1fr 6fr;
}


a {
  color: #00B7FF;
}


